<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>im.golovan.clear-downloads-dir</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/davidg/bash_profile/scripts/clear_dir.sh</string>
        <string>/Users/davidg/Downloads</string>
    </array>
    <key>UserName</key>
    <string>davidg</string>
    <key>StandardErrorPath</key>
    <string>/Users/davidg/bash_profile/logs/clear-downloads-dir.err</string>
    <key>StandardOutPath</key>
    <string>/Users/davidg/bash_profile/logs/clear-downloads-dir.out</string>
    <key>StartInterval</key>
    <integer>604800</integer>
</dict>
</plist>
