<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>im.golovan.aws-ecr-login</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/davidg/bash_profile/scripts/aws_ecr_login.sh</string>
    </array>
    <key>UserName</key>
    <string>davidg</string>
    <key>StandardErrorPath</key>
    <string>/Users/davidg/bash_profile/logs/aws-ecr-login.err</string>
    <key>StandardOutPath</key>
    <string>/Users/davidg/bash_profile/logs/aws-ecr-login.out</string>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>
            <integer>07</integer>
            <key>Minute</key>
            <integer>00</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>19</integer>
            <key>Minute</key>
            <integer>00</integer>
        </dict>
    </array>
</dict>
</plist>
